html, body{
  /*min-height: 100%;
  height: 100%;*/
}

.fill{
  /*height: calc(100vh - 100px);*/
}

body {
  padding-top: 10px; /* space for the top nav bar */
  margin-right: 30px;
  margin-left: 30px;
}

#appBuckets {
  overflow: auto;
  width: 100%;
  /*height: calc(100vh - 150px);*/
}

#forgeViewer {
  width: 100%;
  height: calc(100vh - 850px);
}

.panel-heading{
    cursor:pointer;
}

.panel-default {
    border-color: #000;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 15px;
    /* border-top-right-radius: 15px; */
}

.inner-img{
    margin-bottom: 20px;
}

#accordion2, #accordion3, #forgeViewer {
    display: none;
}